<!doctype html>
    <html lang="en">
    <head>
      <title>Welcome to Image classification world</title>
    </head>
    <style>
    .content {
        max-width: max-content;
        margin: auto;
    }
    </style>
    <body>
    <div class="site-wrapper">
        <div class="cover-container" style="
               margin: auto;
               max-width: fit-content;">
          <div class="mastfoot">
            <div class="container">
              <div style="margin-top:5%">
                            <h1 style="color:black">Image classification using Inception Model</h1>
                            <h4 style="color:black">Upload new Image </h4>
                            <form method=post enctype=multipart/form-data>
                         <p><input type=file name=file>
                        <input type=submit style="color:black;" value=Upload>
                            </form>
                    </div>
            </div>
                </div>
     </div>
   </div>
</body>
</html>
